.background-color {
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    
}
.colorbtn{
    padding: 0.25rem 0.5rem;
    border: 3px solid blanchedalmond;
    border-radius: 7px;
    background: rgba(0,0,0,0);
    color: #fefefe;
    font-size: medium;
    cursor: pointer;
    outline: none;
}
.colorbtn:hover{
    background: black;
}